<div class="checkbox-item">
  <label class="checkbox-wrapper">
    <input type="checkbox">
    <span class="checkbox-custom">
      <span class="checkbox-box">
        <svg viewBox="0 0 24 24">
          <path class="box-path" d="M 3.9,3.1 C 3.6,2.9 4.1,2.6 4.6,3 L 20.6,4.1 C 21.1,4.2 21.2,4.6 21.1,5.1 L 20.8,20.6 C 20.7,21.1 20.3,21.2 19.8,21.1 L 3.8,20.8 C 3.3,20.7 3.1,20.3 3.2,19.8 L 3.9,3.1 Z" />
        </svg>
      </span>
    </span>
  </label>
  <span class="checkbox-label">Variation-4</span>
</div>