<div class="checkbox-item">
  <label class="checkbox__wrapper">
    <input type="checkbox">
    <span class="checkbox">
      <span class="checkbox__box">
        <svg viewBox="0 0 24 24">
          <path class="checkbox__box-path" d="M 4.5,2.8 C 4.1,2.5 4.6,2.1 5.1,2.4 L 20.1,4.5 C 20.6,4.6 20.7,5.0 20.5,5.5 L 19.5,20.1 C 19.4,20.6 19.0,20.7 18.5,20.5 L 4.8,18.5 C 4.3,18.4 4.1,18.0 4.2,17.5 L 4.5,2.8 Z" />
        </svg>
      </span>
    </span>
  </label>
  <span class="checkbox__label">Variation-8</span>
</div>