<div class="checkbox-item">
  <label class="checkbox__wrapper">
    <input type="checkbox">
    <span class="checkbox">
      <span class="checkbox__box">
        <svg viewBox="0 0 24 24">
          <path class="checkbox__box-path" d="M 3.1,3.4 C 2.9,2.9 3.3,2.5 3.8,2.7 L 20.7,3.8 C 21.2,3.9 21.4,4.3 21.2,4.8 L 20.6,20.7 C 20.5,21.2 20.1,21.4 19.6,21.3 L 3.2,20.2 C 2.7,20.1 2.5,19.7 2.6,19.2 L 3.1,3.4 Z" />
        </svg>
      </span>
    </span>
  </label>
  <span class="checkbox__label">Variation-7</span>
</div>