<div class="checkbox-item">
  <div class="checkbox-custom">
    <span class="checkbox-box">
      <svg viewBox="0 0 24 24">
        <path class="box-path" d="M 3.3,3.8 C 3.1,3.3 3.4,2.9 3.9,2.8 L 20.2,3.1 C 20.7,3.2 21.1,3.5 21.2,4 L 20.9,20.3 C 20.8,20.8 20.5,21.1 20,21.2 L 3.7,20.9 C 3.2,20.8 2.9,20.5 2.8,20 L 3.1,3.7 Z" />
      </svg>
    </span>
    <span class="x-marks-container">
      <span class="x-mark show">
        <svg viewBox="0 0 24 24">
          <path class="x-path-1" style="stroke-width: 2.4; opacity: 0.9;" d="M 6.8,6.5 C 7.5,7.2 16.8,16.5 18.2,18.5" />
          <path class="x-path-2" style="stroke-width: 2.0; opacity: 0.85;" d="M 18.5,6.8 C 17.8,7.5 7.5,17.8 6.5,18.2" />
        </svg>
      </span>
    </span>
  </div>
  <span class="checkbox-label">Variation-0</span>
</div>